<div class="container my-5 p-5 border rounded shadow-sm bg-light">
  <button class="btn btn-outline-primary" (click)="goLista()">Lista</button>
   
    <div class="text-center mb-4">
      <h2>Presupuesto</h2>
      <p><strong>ID del Presupuesto:</strong> {{ budget?.id }}</p>
    </div>
  
   
    <div class="row mb-3">
      <div class="col-md-6">
        <p><strong>Cliente:</strong> {{ budget?.client }}</p>
        <p><strong>Fecha:</strong> {{ budget?.date | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div>
  
    
    <div class="row mb-4">
      <div class="col-12">
        <h4>Detalles de Módulos</h4>
        <hr>
        <div *ngFor="let module of budget?.modules; trackBy: trackByFn" class="mb-3">
          <div class="d-flex justify-content-between">
            <div>
              <p><strong>Tipo de Módulo:</strong> {{ module.moduleType.name }}</p>
              <p><strong>Ambiente:</strong> {{ module.zone }}</p>
            </div>
            <div>
              <p><strong>Precio:</strong> {{ module.moduleType.price | currency }}</p>
              <p><strong>Slots:</strong> {{ module.moduleType.slots }}</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  
    
    <div class="row">
      <div class="col-md-6">
        <p class="h5"><strong>Cantidad de Cajas:</strong> {{ budget?.boxCount }}</p>
      </div>
      <div class="col-md-6 text-end">
        <p class="h5"><strong>Total:</strong> {{ budget?.total | currency }}</p>
      </div>
    </div>
  </div>
  